<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="barqsoft.footballscores" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <activity
            android:name=".app.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.ScoresProvider"
            android:authorities="barqsoft.footballscores" />

        <activity
            android:name=".app.about.AboutActivity"
            android:label="About"
            android:parentActivityName=".app.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.main.MainActivity" />
        </activity>
        <receiver
            android:name=".widget.provider.LastScoreProvider"
            android:label="@string/last_score_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="barqsoft.footballscores.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_last_score" />
        </receiver>
        <receiver
            android:name=".widget.provider.AllScoresProvider"
            android:label="@string/all_scores_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="barqsoft.footballscores.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_all_scores" />
        </receiver>

        <service android:name=".service.FetchService" />
        <service android:name=".widget.service.LastScoreService" />
        <service
            android:name=".widget.service.AllScoresService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>
